<div class='d-flex justify-content-center bg-spot'>


    <form class='search-form' action="/githubuser">
  <input class="name-input" type="text" name="user" class="form-control mr-sm-2" placeholder="Type Github user âŽ" aria-label="Search">
  {{!-- <button class="search-button" type="submit">Search!</button> --}}
</form>

</div>