<div id="slider">

  <!-- Slides -->
	<img id="slide-1" src="https://unsplash.it/1920/800" />
  <img id="slide-2" src="https://unsplash.it/1920/800?image=41" />
  <img id="slide-3" src="https://unsplash.it/1920/800?image=42" />
  <img id="slide-4" src="https://unsplash.it/1920/800?image=45" />
	
	<!-- Navigation for the slides -->
	<ul>
		<li><a href="#slide-1">1</a></li>
		<li><a href="#slide-2">2</a></li>
		<li><a href="#slide-3">3</a></li>
		<li><a href="#slide-4">4</a></li>
	</ul>
</div>