<div class="top">{{> goBack}}
    <h1 class="title">{{user}} can't be found</h1>
    <div><img class='error-icon' src="/images/ban.svg" alt="not found"></div>
    <p class="center-text pb">I'm pretty sure you misstyped here... Or was it my fault?</p>
    <p class="center-text pb"> Whatever... Try again?</p>
</div>
{{> searchBar }}