<div class="top">{{> goBack}}
    <h1 class="title">{{user}} can't be found</h1>
    <p class="center-text">I'm pretty sure you misstyped here... Or was it my fault?</p>
    <p class="center-text"> Whatever... Try again?</p>
</div>
{{> searchBar }}