<div class="pb">{{> slider }}</div>
<div class="disclaimer">You can start by searching...</div>
<div class="main-search-bar">{{> searchBar }}</div>
<div class="disclaimer">or visit creator's <a class='no-decoration' href="https://github.com/adrianVide/" target="_blank">Github</a> </div>