<div class="top">{{> goBack}}
    <h1>Github users search result</h1>
    <h2 class="title">Showing <span class="username">{{user}}</span>'s repos on Github</h2>
    </span></div>
{{> searchBar }}
<p class="disclaimer pb">*pictures might not be related to content</p>
<div class="cards">
    {{#each publicRepos}}
    {{> repoCard this}}
    {{/each}}
</div>